---
import { Canvas } from "./playground.tsx"
---

<div
  class="bg-darker border-dim w-full max-w-3xl overflow-hidden rounded-lg border shadow-xl"
>
  <div
    class="bg-surface border-dim sticky flex w-full items-center gap-2 rounded-t-lg px-4 py-3"
  >
    <div class="flex space-x-2">
      <div class="h-3 w-3 rounded-full bg-red-500"></div>
      <div class="h-3 w-3 rounded-full bg-yellow-500"></div>
      <div class="h-3 w-3 rounded-full bg-green-500"></div>
    </div>
    <div class="text-grey ml-4 flex-1 text-center text-sm">haris@dev:~</div>
  </div>

  <div class="space-y-3 p-6 font-mono text-sm">
    <Canvas client:load />
  </div>
</div>
