---
import Nav from './nav.astro'

interface Props {
  data: {
    id: string 
  }[]
}

const { data } = Astro.props
---

<div
  class="flex max-h-96 w-full snap-x snap-mandatory gap-8 overflow-y-auto scroll-smooth"
>
  <Nav data={data}/>
  <slot />
</div>
