---
import Nav from './nav.astro'

interface Props {
  data: string[]
}

const { data } = Astro.props
---

<>
  <Nav data={data} />
  <div
    id="carousel-content-container"
    class="webkit-scroll-touch custom-scroll-x flex snap-x snap-mandatory gap-0 scroll-smooth"
  >
    <slot />
  </div>
</>
