---
export interface Props {
  data: string[]
}

const { data } = Astro.props
---

<div
  class="flex flex-wrap gap-2 mt-8"
  id="carousel-nav"
>
  {
  data.map((item, i) => {
      return (
      <a href=`#tech-${i}` class="carousel-nav text-grey active:text-green hover:bg-darker focus:bg-surface focus:text-green cursor-pointer rounded-lg rounded-t-lg px-4 py-2 transition-colors focus:outline-none">
          {item}
        </a>
      )
    })
  }
</div>

<script>
const nav = document.getElementById('carousel-nav');
const container = document.getElementById("carousel-content-container")
nav.addEventListener("click", (e) => {
  e.preventDefault();
  const clickedAnchor = (e.target as HTMLElement).closest("a");
  if (clickedAnchor) {
    const href = clickedAnchor.getAttribute("href");
    const targetElement = document.querySelector(href) as HTMLElement;

    if (targetElement && container) {
      const targetOffset = targetElement.offsetLeft;
      container.scrollTo({
        left: targetOffset,
        behavior: "smooth"
      })
    }    
  }
})
</script>
