---
// import Card from '../Card.astro'
import { Button } from '../ui/button'
import { techs } from '../../lib/constants'
---

<>
  <div class="mt-2 space-y-4">
    <ul class="list-inside list-disc">
      {techs.main.map((tech) => <li>{tech}</li>)}
    </ul>
    <a href="/techs">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
  <!-- <div class="flex gap-0">
    <ul class="list-inside list-disc"> -->
  <!-- <br />
      Programming Languages
      <li>Rust</li>
      <li>Python</li>
      <li>JS/TS</li>
      <li>PHP</li>
      <br />
      Web Frameworks
      <li>Django</li>
      <li>FastAPI</li>
      <li>Flask</li>
      <li>Express JS</li>
      <li>Fastify</li>
      <li>Laravel</li>
      <li>Next JS</li>
      <br />
      Frontends
      <li>React</li>
      <li>Vue</li>
      <br />
      Cross Platform
      <li>Tauri</li>
      <br />
      Databases
      <li>MongoDB</li>
      <li>Firestore</li>
      <li>MySQL</li>
      <li>Postgres</li> -->
  <!-- </ul>
  </div> -->
</>
