---
import Card from '../Card.astro'

// const {
//   as: Tag = 'div',
//   class: className,
//   href,
//   heading,
//   subheading,
//   imagePath,
//   altText,
// } = Astro.props

type ProjectStatus = 'confidential' | 'archived' | 'live'

type Project = {
  name: string
  company: string
  desc: string
  tools: string[]
  status: ProjectStatus
}[]
const Projects: Project = [
  {
    name: 'Client Desktop Application',
    company: 'Evo Smartlife',
    desc: 'A client desktop application that wraps multiple tools to support the main AI application on the client desktop server. I developed it using Rust, Python, and sqlite',
    tools: ['Rust', 'Python', 'sqlite'],
    status: 'confidential',
  },
  {
    name: 'Frontend Hub',
    company: 'Evo Smartlife',
    desc: 'A new SPA frontend to replace the old one for the Evo Smartlife hub. I initiated the development before handing it over to the Lead Developer. Built using VueJS and Javascript',
    tools: ['Vue', 'Javascript'],
    status: 'confidential',
  },

  {
    name: 'Doctor Appointment Application',
    company: 'Geo Medica Clinic',
    desc: 'An Android app for doctor appointments at Geo Medica clinic. Built using Kotlin and Firebase Firestore.',
    tools: ['Android', 'Kotlin', 'Firestore'],
    status: 'archived',
  },
]
---

<div class="flex flex-col gap-6 pt-8">
  {
    Projects.map((project) => (
      <div>
        <div class="text-primary font-semibold">{project.name}</div>
        <h3 class="text-sm font-semibold">{project.company}</h3>
        <p>{project.desc}</p>
        <div class="mt-4 flex flex-wrap gap-1">
          {project.tools.map((tool) => (
            <Card styling="px-4 py-2 bg-orange-500/20 backdrop-blur-md border border-orange-400/30 text-orange-200 rounded-full text-sm text-center">
              <p slot="content">{tool}</p>
            </Card>
          ))}
        </div>
      </div>
    ))
  }
</div>
