---
import Carousel from '../ui/carousel/index.astro'
import Tooltip from "../ui/tooltip.astro"
import { Icon } from 'astro-icon/components'

export const techs = [
  {
    name: 'Programming Languages',
    members: ['Rust', 'Javascript', 'Typescript', 'Python', 'PHP'],
    icons: ['rs', 'js', 'ts', 'py', 'php'],
  },
  {
    name: 'Databases',
    members: ['MySQL', 'PostgreSQL', 'Firestore', 'Redis'],
    icons: ['mysql', 'pg', 'fstore', 'redis'],
  },
  {
    name: 'Backends',
    members: [
      'FastAPI',
      'Express JS',
      'Django',
      'NextJS',
      'Actix',
      'Fastify',
      'Flask',
      'Home Assistant',
      'Laravel',
    ],
    icons: [
      'fastapi',
      'ex',
      'django',
      'nextjs',
      'actix',
      'fastify',
      'flask',
      'ha',
      'laravel',
    ],
  },
  {
    name: 'Frontends',
    members: ['React JS', 'Vue', 'Astro'],
    icons: ['react', 'vue', 'astro'],
  },
  {
    name: 'Cross Platforms',
    members: ['Tauri'],
    icons: ['tauri'],
  },
  {
    name: 'Containers',
    members: ['Docker', 'WASM'],
    icons: ['docker', 'wa'],
  },
  {
    name: 'Clouds',
    members: ['AWS'],
    icons: ['aws'],
  },
]

const navIDs = techs.map((tech) => tech.name)
---
<Carousel data={navIDs}>
  {
  techs.map((tech,i) => (
  <div id=`tech-${i}` class="snap-start py-12 shrink-0 w-full pr-0 tab-content">
    <div class="flex-wrap flex gap-4">
      {
      tech.members.map((member, i) => {
      return <Tooltip>
        <Icon slot='content' name={tech.icons[i]} width="3rem" height="3rem" class="stroke-current shrink-0 min-w-0 max-w-full flex-initial" />
        <p slot="tooltip">{member}</p>
      </Tooltip>
      })
      }
    </div>
  </div>
  ))
  }
</Carousel>

