---
import BaseLayout from "../layouts/BaseLayout.astro"
import Tech from "../components/sections/Tech.astro"
import Section from "../components/sections/index.astro"
import ProjectCard from "../components/sections/ProjectCard.astro"
import ExperienceCard from "../components/sections/ExperienceCard.astro"
import Terminal from "../components/terminal/index.astro"
import { ConstructionIcon } from "lucide-react"
---

<BaseLayout
  title="Haris Raharjo - Software Engineer"
  description="Portfolio, Projects, CV, About Me, Contact"
>
  <main
    class="m-auto grid w-full max-w-6xl gap-4 md:grid-cols-2 lg:grid-cols-4"
  >
    <section
      class="fade-in custom-scroll flex min-h-screen w-full max-w-5xl items-center overflow-x-auto px-6 md:col-span-4"
    >
      <Terminal />
    </section>
    <Section title="Technologies" id="tech">
      <Tech slot="content" />
    </Section>
    <Section title="Experience" id="experience">
      <ExperienceCard slot="content" />
    </Section>
    <Section title="Project" id="project">
      <ConstructionIcon slot="header" className="text-aqua" />
      <ProjectCard slot="content" />
    </Section>
  </main>
</BaseLayout>
