---
import BaseLayout from '../layouts/BaseLayout.astro'
import Tech from '../components/sections/Tech.astro'
import ProjectCard from '../components/sections/ProjectCard.astro'
import Card from '../components/Card.astro'
import ExperienceCard from '../components/sections/ExperienceCard.astro'
import { Terminal } from '../components/ui/terminal'
import { ConstructionIcon } from 'lucide-react'
// import { ArrowLeftCircle, SquareArrowOutUpRight } from 'lucide-react'
//
---

<BaseLayout
  title="Haris Raharjo - Software Engineer"
  description="Portfolio, Projects, CV, About Me, Contact"
>
  <main
    class="relative m-auto grid w-full max-w-6xl gap-2 p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-8 lg:grid-cols-4 lg:gap-4"
  >
    <Card colSpan="md:col-span-3" rowSpan="md:row-span-1" padding={0} gap={4}>
      <Terminal slot="content" client:load />
      <!-- <IntroCard /> -->
    </Card>
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      padding={0}
      styling="pt-4"
    >
      <Tech slot="content" />
    </Card>
    <Card colSpan="md:col-span-2" rowSpan="md:row-span-4" title="Experience">
      <ExperienceCard slot="content" />
    </Card>

    <Card colSpan="md:col-span-2" rowSpan="md:row-span-1">
      <h2 class="m-0 flex gap-2 text-xl font-bold" slot="header">
        Projects
        <ConstructionIcon />
      </h2>

      <ProjectCard slot="content" />
    </Card>
  </main>
</BaseLayout>
