---
import BaseLayout from '../layouts/BaseLayout.astro'
import Tech from '../components/sections/Tech.astro'
import Accordion from '../components/ui/accordion.astro'
import ProjectCard from '../components/sections/ProjectCard.astro'
// import Card from '../components/Card.astro'
import ExperienceCard from '../components/sections/ExperienceCard.astro'
import Terminal from '../components/terminal/index.astro'
import { ConstructionIcon } from 'lucide-react'
// import { ArrowLeftCircle, SquareArrowOutUpRight } from 'lucide-react'
//
const code_block = `
01001000 
01100001
01110010
01101001
01110011
`
---

<script>
  document
    .getElementById('translateBtn')
    .addEventListener('click', function () {
      const meaning = document.getElementById('meaning')
      const code_block = document.getElementById('code')
      meaning.classList.toggle('hidden')
      code_block.classList.toggle('hidden')
    })
</script>
<BaseLayout
  title="Haris Raharjo - Software Engineer"
  description="Portfolio, Projects, CV, About Me, Contact"
>
  <main
    class="m-auto grid w-full max-w-6xl auto-rows-auto gap-2 md:grid-cols-2 md:gap-3 md:p-8 lg:grid-cols-4 lg:gap-4"
  >
    <section
      class="fade-in col-span-1 flex min-h-screen w-full max-w-5xl items-center px-6 pt-12 md:col-span-2 lg:col-span-3"
    >
      <Terminal slot="content" />
    </section>
    <div
      class="hidden items-center justify-center md:col-span-1 lg:col-span-1 lg:flex lg:flex-col"
    >
      <pre
        id="code"
        class="text-green skew-ascii font-mono text-sm leading-tight opacity-50">
        {code_block} 
      </pre>
      <pre
        id="meaning"
        class="text-green skew-ascii hidden font-mono text-sm leading-tight opacity-50">
        Haris
      </pre>
      <button
        id="translateBtn"
        class="text-aqua border-aqua hover:bg-surface rounded border px-3 text-xs transition-all"
      >
        Translate
      </button>
    </div>

    <section id="tech" class="px-6 py-20 md:col-span-4">
      <div class="mx-auto max-w-5xl">
        <h2 class="section-title pb-4">Technologies</h2>
        <Tech />
      </div>
    </section>

    <section id="about" class="py-20 lg:col-span-2">
      <h2 class="section-title">Experience</h2>
      <ExperienceCard />
    </section>

    <section id="about" class="py-20 lg:col-span-2">
      <h2 class="section-title flex gap-2">
        Projects
        <ConstructionIcon />
      </h2>
      <ProjectCard slot="content" />
    </section>
  </main>
</BaseLayout>
