---
import { ViewTransitions } from 'astro:transitions'
import HeadSEO from '../components/HeadSEO.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const { title, description, ogImage } = Astro.props
---

<html lang="en" class="scroll-pt-[100vh]">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen dark:bg-gradient-to-r to-zinc-950 via-rose-950 from-black font-sans antialiased"
  >
    <div class="flex flex-col items-center justify-center">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
